@{
    ViewBag.Title = "Home";
}


@Scripts.Render("~/bundles/typed")



<div class="row home-background">
    <h3 class="text-align-center">
        <span class="element font-size-ex-lg margin-top-10 font-fam-hand position-abs"></span>
    </h3>
</div>


@Scripts.Render("~/bundles/home")