@{
    ViewBag.Title = "Home";
}


@Scripts.Render("~/bundles/typed")



<div class="row home-background text-align-center">
    <h2 class="margin-top-15">
        <span class="element font-size-ex-lg font-fam-hand"> </span>
    </h2>
    <div class="row font-fam-hand margin-top-10 font-size-large" style="display:none" id="welcome">
       
    </div>

</div>


@Scripts.Render("~/bundles/home")