@{
    ViewBag.Title = "Home";
}

<div class="jumbotron row">
        <img class="col-xs-5 col-md-2" src="~/Images/logo.png" />
        <div class="col-xs-7 col-md-8 margin-top-5">Hi, I'm Hamrit.  Nice to meet you.  This website is currently under construction.  Please check back in a few days.</div>
</div>
