@{
    ViewBag.Title = "Projects";
}

<div class="container">
    <h2>Projects</h2>
    <div class="row margin-top-2">
        <div class="jumbotron">
            Check out my <a href="http://github.com/HamritSidhu">Github</a>. I will be posting more 
            detailed project descriptions on this page shortly.  Stay tuned!
        </div>

    </div>
 </div>

@Scripts.Render("~/bundles/projects")