@{
    ViewBag.Title = "Projects";
}

<div class="container">
    <h2>Projects</h2>
    <div class="row margin-top-2">
        <div class="jumbotron">
            Take a look at some of the projects I have been working on.  You can also check out my <a href="http://github.com/HamritSidhu">Github</a>.
        </div>

    </div>
 </div>

@Scripts.Render("~/bundles/projects")