@model IEnumerable<PersonalWebsite.DAL.Blog.Post>

@{
    ViewBag.Title = "Blog";
}

<div class="container">
    <h2>Blog</h2>
    <div class="row margin-top-2">
        <div class="jumbotron">
            I like to talk about my tech experiences and projects I have been working on. 
            There's some helpful tutorials there as well.
            Check out my latest blogs!
        </div>
    </div>
    <br/>
    <table class="table table-hover">
        <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td class="col-md-10">
                    <div class="font-size-large"><span class="glyphicon glyphicon-book"></span> @Html.ActionLink(post.title, "Post", new { name = post.route })</div>
                    <div class="col-md-12">
                        <div class="font-grey">@post.description</div>
                    </div>

                </td>
                <td class="col-md-2">
                    <strong>Posted On </strong>@post.datePosted.Date.ToString("yyyy-MM-dd")
                </td>
            </tr>
        }
       </tbody>
    </table>
</div>


