@{
    ViewBag.Title = "Blog";
}

<div class="container">
    <h2>Blog</h2>
    <div class="row margin-top-2">
        <div class="jumbotron">
            I like to talk about my tech experiences, hackathons and some of the projects I have been working on.
            There are some tutorials on software design patterns and mathematical concepts in there as well.
            Check out my latest blogs!
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/blog")