<div class="col-md-12">
   <ul>
       <li>
           I like to live a balanced lifestyle and getting involved in the school community.  Some activities I have been involved in include 
           engineering directorships, frisbee, football and swimming.
       </li>
       <li>
           Whenever I can, I like to participate in hackathons.  I love collaborating with other awesome people
           to create innovative software solutions.
       </li>
       <li>
           Problem solving is a great skill to have.  On my spare time, I like to solve Project Euler problems.  You can
           check out some of my solutions <a href="https://github.com/HamritSidhu/Project-Euler">here</a>
        </li>
       <li>
           Knowledge is invaluable and one of the best things we can do with it is share it.  After graduating from 
           <a href="http://www.kumon.ca/aboutkumon.aspx">Kumon</a>,
            I worked as a tutor there, helping students enrich their mathematical abilities.  I have always enjoyed learning
            and teaching math.  Check out some of my tutorials.
        </li>
   </ul>
</div>
