<div class="col-md-12">
    I have a huge passion for coding, algorithms and developing well-written software. My experience currently includes
    working with web and enterprise software and I have just recently started working on some mobile development.
    Here's some of my technical experience in a nutshell:
</div>

<div class="col-md-12">
    <div class="col-md-6">
        <h4>Backend Development</h4>
        Worked with enterprise software architecture using the .NET MVC framework and Slim Application Framework.
        Developed in C# and PHP as backend languages, along with RDBMS using Microsoft SQL Server and MySQL.
    </div>
    <div class="col-md-6">
        <h4>Frontend Development</h4>
        
        Created clean web experiences using JavaScript and jQuery UI. Have used HTML, custom CSS and Bootstrap to design
        web pages.
    </div>
</div>


<div class="col-md-12 margin-top-5">
    I also enjoy working on side projects during my free time.  You can check them out <a href="/Home/Projects">here</a>.
</div>