<div class="col-md-12">
    I have a huge passion for coding, algorithms and developing well-written software. My experience currently includes
    working with web, enterprise and embedded software and I have just recently started working on some mobile development.  Check out my <a href="~/Files/Resume.pdf">résumé</a>.
    Here's some of my technical experience in a nutshell:
</div>

<div class="col-md-12">
    <div class="col-md-6">
        <h4>Backend Development</h4>
        <ul>
            <li>
                Worked with enterprise software architecture using the .NET MVC framework, Slim Application Framework and Zend Framework
            </li>
            <li>
                Developed web applications with C# and PHP as backend languages 
            </li>
            <li>
                Exceptional knowledge in Relational Database Management Systems using Microsoft SQL Server and MySQL. Familiar with MongoDB.
            </li>
            <li>
                Expertise in domain data modelling methodologies to satisfy complex business requirements and entity relationships.  Strong experience
                in ORM with Entity Framework, NHibernate and Doctrine.
            </li>
            <li>
                Created embedded applications using C in Keil uVision4. Currently expanding knowledge on microprocessor systems and interfacing using
                Quartus and NIOS II.
            </li>
        </ul>
   
    </div>
    <div class="col-md-6">
        <h4>Frontend Development</h4>
        <ul>
            <li>Created clean web experiences using JavaScript and jQuery UI</li>
            <li>Designed web pages with HTML, custom CSS and Bootstrap</li>
            <li>Worked with view/template engines: Twig (for PHP frameworks) and Razor (for .NET framework)</li>
            <li>Developed clean mobile frontends using Android UI widgets</li>
        </ul>

    </div>
</div>


<div class="col-md-12 margin-top-2">
    Areas of machine-learning, artificial intelligence and intersection of mathematics and software excite me and I am always looking for opportunities to grow in these fields. 
    I also enjoy working on side projects during my free time.  You can check them out <a href="/Projects">here</a>.
</div>