@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>About me</h2>
    <h4>Math. Software. Leadership.</h4>
    <div class="row margin-top-2">
        <div class="col-md-9" id="about-overview">
            <p class="jumbotron">
            Hi, my name is Hamrit Sidhu.  I'm a 2B 
            <a href="https://uwaterloo.ca/mechanical-mechatronics-engineering/">Mechatronics Engineering</a> 
            student at the University of Waterloo.
            I enjoy designing and creating software, working with math and robotics.  This term I'm working as a Web Application Developer
            <a href="https://gatewaylogin.com/marketing.php">gatewayiQ</a>.
            Previously developed at <a href="http://www.systemgroupinc.com/">Systemgroup</a>
            and <a href="http://www.bluesun.ca/">Bluesun</a>.
            </p>
            <div class="row">
                <div class="col-md-2 keyword">
                    Mechatronics Engineering
                </div>
                <div class="col-md-2 keyword">
                    University of Waterloo
                </div>
                <div class="col-md-2 keyword">
                    Problem Solving
                </div>
                <div class="col-md-2 keyword">
                    Entrepreneurship
                </div>
                <div class="col-md-2 keyword">
                    Leadership
                </div>
                <div class="col-md-2 keyword">
                    Balance
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <img class="width-100 photo-border" src="~/Images/about.jpg" />
        </div>
    </div>
    <div class="row margin-top-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Experience</h4>
            </div>
            <div class="panel-body" id="tech-panel">
                @Html.Partial("~/Views/PartialViews/_TechnicalBackground.cshtml")
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" >
                <h4>A little more about me</h4>
            </div>
            <div class="panel-body" id="interest-panel">
                @Html.Partial("~/Views/PartialViews/_Interests.cshtml")
            </div>
        </div>
    </div>
  
</div>


@Scripts.Render("~/bundles/about")